version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly

  - package-ecosystem: bundler
    directory: /
    schedule:
      interval: weekly

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly

  - package-ecosystem: npm
    directory: /spec/e2e
    schedule:
      interval: weekly

  - package-ecosystem: npm
    directory: /spec/javascript
    schedule:
      interval: weekly
