_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.ruby-lsp
.bundle/
vendor/
Gemfile.lock
.github/scripts/execute-with-token.ps1
.tmp/
.logs/
**/node_modules/
**/test-results/
spec/e2e/playwright-report/
spec/e2e/screenshots/
spec/e2e/videos/
spec/e2e/traces/trivy-test.sarif
coverage.xml
