.site-footer {
    padding: 10px 0 10px 0;
    color: $medium-gray;
    border-top: 1px solid $light-gray;
    background-color: transparent;
    border-bottom: none;
    border-left: none;
    border-right: none;
    contain: layout style;

    .wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        padding: 0px;
        margin: 0px auto;
    }

    .author {
        margin: 0;

        @media (max-width: #{$on-mobile}) {
            margin-left: 10px;
        }
    }

    .rss-subscribe {
        margin: 0;
        position: absolute;
        right: 0;
        contain: layout;

        @media (max-width: #{$on-mobile}) {
            margin-right: 10px;
        }
    }

    a {
        color: $medium-gray;
        transition: color 0.2s ease;
        will-change: color;

        @media (hover: hover) {
            &:hover {
                color: $lighter-gray;
            }
        }

        &:visited {
            color: $medium-gray;
        }
    }
}

.footer-col {
    margin: 0;
    contain: layout;
}
