/* ============================================================================
   Form Components
   
   - Form Floating Labels
   ============================================================================ */

/* Form Floating Labels */
.form-floating>.form-control-plaintext::placeholder,
.form-floating>.form-control::placeholder {
  color: var(--color-text-secondary);
  text-align: end;
}

.form-floating>.form-control-plaintext:focus::placeholder,
.form-floating>.form-control:focus::placeholder {
  text-align: start;
}