@using TechHub.Core.DTOs

@if (Section != null)
{
    <header class="section-header" style="background-image: url('@(Section.BackgroundImage)'); background-size: cover; background-position: center center; background-repeat: no-repeat;">
        <div class="section-header-content">
            <div class="header-text-overlay">
                <h1>@Section.Title</h1>
                <p class="section-description">@Section.Description</p>
            </div>
        </div>
    </header>
}

@code {
    [Parameter, EditorRequired]
    public required SectionDto Section { get; set; }
}
